label{


  font-family: Aviner;

}

form{

  padding-bottom: 50px;
}






button{

padding-bottom: 10px;
padding-right: 5px;
font-size: 15px;
}
span{

  font-size: 22px;
}
label {

  font-size: 25px;
}


.login {
    width: 550px;
    height: 600px;
    padding: 25px;
    margin: 25px;
    background-color: #777479
;
}
button{
 
color: black;

}
h1{

padding-top: -1px;

}
.SignUp{

width: 550px;
height: 600px;
padding: 25px;
margin: 25px;
background-color: #777479
;

}
input {
  padding: 5px;
}
button:hover {
  color: grey;
  background-color: black;
}
button{

  background-color: #00BFFF;
}

.DOB{


  background-color: white;
  padding: 0px; 
  padding-bottom: 0px;
 
}


